!!!
!!! XML
%html
  %head
    %title= "Ramaze : #@current"
    = css_for *%w[reset uv master ruby]
    = js_for 'jquery'

  %body
    #wrapper
      #header_container
        #logo
          %a{:href => '/'}
            %img{:src => '/images/base/ra3.png', :alt => 'Ramaze, Web Framework for Rubyists'}
        #menu
          #language
            :maruku
              * [English](/)
              * [Deutsch](/#)
              * [Portuguese](/#)
              * [日本語](/#)

          #nav
            %ul
              // TODO: move to helper
              - %w[home features learn get community].each do |ref|
                %li
                - href = ref == 'home' ? '' : ref
                - if @current == href
                  %a.current{:href => '/' + href}= ref.capitalize
                - else
                  %a{:href => '/' + href}= ref.capitalize
              %li
                %a{:href => 'http://github.com/manveru/ramaze'} github
              
      %div#content{:class => @current}~ @content
      #footer
        Powered by ramaze :-)
        // Full source code is available at here.
        %br/
        &copy; 2006-2008 Michael Fellinger, some rights reserved
